[submodule "complaints-book-client"]
	path = complaints-book-client
	url = https://github.com/martirspe/complaints-book-client.git
[submodule "complaints-book-server"]
	path = complaints-book-server
	url = https://github.com/martirspe/complaints-book-server.git
